/* колір тексту: заголовки color: #212121; 
для параграфів та номер телефону color: #757575;
webstudio зверху  color: #2196F3;color: #000000;
студія та емейл  color: #2196F3;
портфоліо та контакти color: #212121; */
/* вебстудіо знизу color: #2196F3;
адреса на карту гугл color: #FFFFFF;
емейл і тел знизу color: rgba(255, 255, 255, 0.6); */

:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #757575; 
}

body {
background: #F5F5F5;
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

.webstudio-top {
color: #000000;
font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.web {
color: #2196F3;
}

ul {
    list-style: none;
}
/* site-nav */
.site-nav, .link, .portfolio, .contacts
 {
    color: #212121;
    text-decoration: none;
}

.link {
    color: #2196F3;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.site-nav, .contacts, .current, 
.email, .telephone {
    color: #212121;
}

.site-nav, .link:hover,
.site-nav, .link:focus {
    color: #2196F3;
}

/* hero */
.hero-title {
    background: #2F303A;
    color: #FFFFFF;
font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* section */
.section-title {
color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* features */
.features, .title {
color: var(--title-text-color);
font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features, .text {
    color: var(--accent-color);
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

/* button */
button {
    color: #FFFFFF;
    background: #2196F3;
     border-color: #2196F3;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
}

.pointer {
     cursor: pointer;
}





/* Сторінка Portfolio */
