/* колір тексту: заголовки color: #212121; 
для параграфів та номер телефону color: #757575;
webstudio зверху  color: #2196F3;color: #000000;
студія та емейл  color: #2196F3;
портфоліо та контакти color: #212121; */
/* вебстудіо знизу color: #2196F3;
адреса на карту гугл color: #FFFFFF;
емейл і тел знизу color: rgba(255, 255, 255, 0.6); */

/* :root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #32f307;
    --accent-color-web: #2196F3;
    --accent-color-studio: #000000;
    --accent-color-title: #FFFFFF;
    --accent-color-rgba: rgba(255, 255, 255, 0.6);

} */

/*--accent-color: #757575; */

body {
background: #FFFFFF;

}

.webstudio-top {
color: #000000;
font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}





.web {
color: #2196F3;
}

ul {    list-style: none;}

/* site-nav */
.site-nav, .link, .portfolio, .contacts
 {    text-decoration: none; }

.link {
    color: #212121;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}



.site-nav, .link:hover,
.site-nav, .link:focus {
    color: #2196F3;
}

.email,
.telephone {
    color: #757575;
}
.site-nav, .current { color: #2196F3; }

/* hero   */
.hero { background: #2F303A; }
.hero-title {
        color: #FFFFFF;
font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* button */
button {
    color: #FFFFFF;
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.pointer:hover,
.pointer:focus { 
    color: #2196F3;
    background: #FFFFFF;  }



/* section */
.sect { font-size: 0px; }

.section-title {
color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.tit { 
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
 }

 .tex { color: ##757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em; }



/* features */
.features, .title {
color: #212121;
font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features, .text {
color: #757575;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

F5F4FA
.section, .koman { background-color: #F5F4FA; }

.futer { background-color: #2F303A; }

.webs-top { color: #FFFFFF; }
.weba {  color: #2196F3;    }

.webs-top, .weba { 
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;  }

.emailink { color: rgba(255, 255, 255, 0.6);
text-decoration: none }

.emailink:hover,
.emailink:focus { color: rgba(255, 255, 255, 1); }






/* Сторінка Portfolio */

